<button mat-button [matMenuTriggerFor]="menu">Menu</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="routeTo('')" routerLinkActive="active">dashboard</button>
  <button mat-menu-item (click)="routeTo('chat')">chat box</button>
  <button mat-menu-item (click)="routeTo('chat-room')">chat room</button>
  <button mat-menu-item (click)="routeTo('calender')">calender</button>
  <button mat-menu-item (click)="routeTo('floara')">floara</button>
  <button mat-menu-item (click)="routeTo('gridster')">gridster</button>
  <button mat-menu-item (click)="routeTo('dynamicComponent')">dynamicComponent</button>
</mat-menu>
