<app-header></app-header>
<app-sidebar></app-sidebar>
<ngx-spinner></ngx-spinner>
<p>dashboard works!</p>
<div>
    <button mat-raised-button color="primary" (click)="userLogout()">Logout</button>
</div>

<form [formGroup]="addRowFromGroup">
    <div>
        <mat-card>
            <div formArrayName="itemRows">
                <mat-card-title>Add rows</mat-card-title>
                <ng-container *ngIf='addRowFromGroup.controls.itemRows!=null'>
                    <div *ngFor="let itemrow of getControls(); let i = index" [formGroupName]="i">
                        <div class="form-group">
                            <mat-form-field class="example-full-width">
                                <mat-label>Username</mat-label>
                                <input formControlName="first_name" matInput placeholder="Enter Name">
                            </mat-form-field>

                        </div>
                        <div class="form-group">
                            <mat-form-field class="example-full-width">
                                <mat-label>password</mat-label>
                                <input formControlName="password" matInput placeholder="Enter password">
                            </mat-form-field>

                        </div>
                        <div class="form-group">
                            <mat-form-field class="example-full-width">
                                <mat-label>email</mat-label>
                                <input formControlName="email" matInput placeholder="Enter email">
                            </mat-form-field>

                        </div>

                        <div>
                            <button mat-raised-button color="primary" (click)="deleteRows(i)">Remove</button>
                        </div>
                    </div>
                </ng-container>
                <br>
                <div>
                    <button mat-raised-button color="primary" (click)="addNewRow()">Add Row</button>
                </div>
                <br>
                <div>
                    <button mat-raised-button color="primary" (click)="insertAllData()">Insert All Data</button>
                </div>
            </div>
        </mat-card>

    </div>
</form>

<div class="container">
    <div class="table-wrapper">
        <div class="table-title">
            <div class="row">
                <div class="col-sm-8">
                    <h2>Employee<b>Details</b></h2>
                </div>
                <div class="col-sm-4">

                </div>
            </div>
        </div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>SL no.</th>
                    <th>Name</th>
                    <th>Password</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>

                <tr *ngFor="let emp of employee, let i = index">
                    <td>{{i + 1}}</td>
                    <td>{{emp.first_name}}</td>
                    <td>{{emp.password}}</td>
                    <td>{{emp.email}}</td>
                    <td>
                        <button mat-raised-button color="primary" (click)="updateUser(emp)">Update</button>
                    </td>
                    <td>
                        <button mat-raised-button color="warn" (click)="deleteUser(emp.id)">Delete</button>
                    </td>

                </tr>


            </tbody>
        </table>
    </div>
</div>
<app-update-form></app-update-form>

<form [formGroup]="updateData">
    <div>
        <mat-card>
            <mat-card-title>Update Data</mat-card-title>
            <div class="form-group">
                <mat-form-field class="example-full-width">
                    <mat-label>Username</mat-label>
                    <input formControlName="first_name" matInput placeholder="Enter Name">
                </mat-form-field>

            </div>
            <div class="form-group">
                <mat-form-field class="example-full-width">
                    <mat-label>password</mat-label>
                    <input formControlName="password" matInput placeholder="Enter password">
                </mat-form-field>

            </div>
            <div class="form-group">
                <mat-form-field class="example-full-width">
                    <mat-label>email</mat-label>
                    <input formControlName="email" matInput placeholder="Enter email">
                </mat-form-field>

            </div>

            <div>
                <button mat-raised-button color="primary" (click)="update()">Update</button>
            </div>
        </mat-card>

    </div>
</form>